$bg-wid:1212px;

header {
    height: 37px;
    background-color: #2e2828;

    #head {
        width: $bg-wid;
        background-color: #2e2828;
        margin: 0 auto;

        #left {
            padding: 5px 0;
            margin-left: 20px;
            float: left;

            li {
                height: 16px;
                list-style: none;
                color: #b3b3ab;
                display: inline-block;
                border-right: 1px solid #b3b3ab;
                padding: 0 8px;
                font-size: 10px;
                margin: auto 0;

                &:hover {
                    color: #fff;
                    cursor: pointer;
                }

            }
        }

        #right {
            padding: 10px 0;
            margin-left: 20px;
            float: right;

            li {
                height: 16px;
                list-style: none;
                color: #b3b3ab;
                display: inline-block;
                border-right: 1px solid #b3b3ab;
                padding: 0 8px;
                font-size: 10px;
                margin: auto 0;

                &:hover {
                    color: #fff;
                    cursor: pointer;
                }

            }

        }

    }
}